.container {
    width: 1240px;
    margin: 30px auto 0;
}
.title{
    font-size: 40px;
    font-weight: 700;
    line-height: 44px;
    color: #ffffff;
}

.descrContainer{
    overflow: hidden;
    max-height: 2.8em; /* Подходящая высота для 2 строк */
    margin-top: 15px;
}
.descrContainer.expanded {
    max-height: none;
}
.text{
    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: 1.5;
    color: #9b97a8;
}

.expandButton{
    display: block;
    width: 97px;
    margin-top: 10px;
    color: #fff;
    cursor: pointer;
}