
.customSlider {
    margin: 15px auto;
    overflow: hidden;
    position: relative;
    z-index: 1;
    width: 100%;
}
.customSlide {
    margin-right: 24px;
}

.image {
    border-radius: 7px;
}