* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background:#100e19 ;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

img:focus {
  outline: none;
}
.slick-list{
  height: 570px;
}
.slick-track {
  height: 500px;
}

.cl-internal-phfxlr {

}