.container {
    width: 1240px;
    height: 600px;
    margin: 15px auto 0;
}

.titleWrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 240px;

}

.topDescr {
    margin-left: 10px;
    font-size: 24px;
    font-weight: 700;
    color: #fff;
}

.wrapperItems {
    width: 224px;
    position: relative;

}

.item{
    margin-top: 15px;
    width: 300px; /* Ширина контейнера для изображения */
    height: 500px; /* Высота контейнера для изображения */
    overflow: hidden; /* Обрезать изображение, если оно больше контейнера */
    border-radius: 5px;
}

.imageItem{
    width: 100%; /* Чтобы изображение полностью занимало контейнер */
    height: 100%; /* Чтобы изображение полностью занимало контейнер */
    background-size: cover;
}

.wrapperDescr{
    position: absolute;
    bottom: -15px;
    left: 122px;
}

.itemTitle{
    font-size: 28px;
    color: #fff;
    font-weight: 700;
    text-align: center;
}

.itemNumber{
    font-size: 23px;
    color: #fff;
    font-weight:  700;
    text-align: center;
}

.customSlider {
    margin-top: 10px;
}