.footer {
    width: 1240px;
    margin: 0 auto;
    background:#100e19 ;
    padding: 20px 0;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.line {
    height: 1px;
    background-color: #36353e;
}
.links {
    padding-top: 15px;
    margin-bottom: 10px;
}

.links a {
    margin: 0 10px;
    color: #333;
    text-decoration: none;
    color: #4a4951;
    transition: all 0.2s ;
}
.links a:hover {
    color: #fff;
}
.title {
    color: #36353e;
}
