.container {
    width: 1240px;
    margin: 24px auto 0;
}

.wrapperFilms{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    max-width: 1240px;
}

.film {
    position: relative;
    width: 153px;
    height: 331px; /* изменить если длинные слова, то ставить после определенного количества симоволов ... */
    overflow: hidden;
    transition: transform 0.3s ease;
    margin-right: 10px;
    margin-top: 10px;
}
.film:hover{
    transform: translateY(-10px);
}

.film p:hover {
    color: white;
}

.linkFilm{
    text-decoration: none;
}

.filmImage{
    border-radius: 7px;
}



.filmTitle{
    margin-top: 5px;
    font-size: 15px;
    font-weight: 500;
    line-height: 20px;
    color: #c1bfc8;
}

.button {
    width: 120px;
    border-radius: 8px;
    border-width: 1px;
    height: 35px;
    padding: 3px 6px;
    background-color: #ea003d;
    color: white;
    cursor: pointer;
}

.button:hover{
    background-color: #ce053a;
}